
html {
    font-family: "Raleway", sans-serif;
}

h1 {
    font-size: 30px;
}

h2 {
    color: rgb(58, 121, 224);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

h4 {
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    color:lightseagreen;
}

p {
    font-size: 25px;
}

section {
    padding-bottom: 35px;
}

.weightNormal {
    font-weight: normal;
}

.weightBold {
    font-weight: bold;
}

.styleNormal {
    font-style: normal;
}

.styleItalic {
    font-style: italic;
}

.spacingNormal {
    letter-spacing: normal;
}

.spacing3em {
    letter-spacing: .3em;
}

.spacing6em {
    letter-spacing: -.06em;
}

.decorationNone {
    text-decoration: none;
}

.decorationUnderline {
    text-decoration: underline;
}

.decorationLine-through {
    text-decoration: line-through;
}

.decorationOverline {
    text-decoration: overline;
}

.transformNone {
    text-transform: none;
}

.transformUppercase {
    text-transform: uppercase;
}

.transformLowercase {
    text-transform: lowercase;
}

.transformCapitalize {
    text-transform: capitalize;
}
