.title {
    text-align: center;
    color: white;
    font-family: 'Anton', serif; 
}

.subtitle {
    text-align: center;
    color: white;
    font-family: 'Anton', sans-serif; 
}

p {
    text-align: center; 
    /* padding btw section */
    padding: 10px; 
    /* make box transparent */
    background-color: transparent; 
    max-width: 350px; 
    line-height: 2; 
    font-family: 'Roboto', sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black; 
    color:white
}